/* https://coolors.co/ffc2eb-cbffd0-88eeaa-93d4b8-a38a64-7b5a33 */

body {
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 1.5rem;
}

#header {
  width: 100%;
  height: 50vh;
  background: url("../public/giphy.gif") no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 255, 244, 0.4);
  backdrop-filter: blur(10px);
  z-index: 1;
  height: inherit;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.menu-btn__burger {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 47, 2); */
  transition: all 0.5s ease-in-out;
  background-color: #ffc2eb;
  outline: none;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 47, 2); */
  transition: all 0.5s ease-in-out;
  background-color: #ebfff4;
}

.menu-btn__burger::before {
  transform: translateY(12px) translateX(-15px);
}

.menu-btn__burger::after {
  transform: translateY(-12px) translateX(-15px);
}

.menu-btn.open .menu-btn__burger {
  /* transform: translateX(-100px); */
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: translateX(-15px) rotate(45deg);
}

.menu-btn.menu-btn.open .menu-btn__burger::after {
  transform: translateX(-15px) rotate(-45deg);
}

#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 2;
  background-color: #48351e;
  box-sizing: border-box;
  top: -1px;
}

.navbar-light .navbar-nav .nav-link {
  color: #ebfff4;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #CCFFE3;
}

.navbar-light .navbar-brand {
  color: #ffc2eb;
  font-size: 1.5rem;
}

.navbar-light .navbar-brand:hover {
  color: #FF99DD;
  font-size: 1.5rem;
}

/* #about-me {
  height: 600px;
}

#contact {
  height: 600px;
}

#projects {
  height: 600px;
} */

.section {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 6vh;
  background-color: #A38A64; 
  color: #EBFFF4; 
  /* background-color: #ebfff4;
  color: #a38a64; */
  z-index: 1;
  width: 100%;
  height: auto;
  text-align: left;
  margin: 0;
  padding: 2vh;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}


#about-me-image {
  float: left;
  max-width: 20%;
  height: auto;
  /* padding: 2%; */
  margin-right: 3%;
  margin-bottom: 3%
}

.section-content {
  background-color: #654A2A;
  color: #EBFFF4;
  padding: 5%;
}
