#header {
  width: 100%;
  height: 600px;
}

#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-items: right;
}

#about-me {
  height: 600px;
}

#contact {
  height: 600px;
}

.section {
  display: flex;
  justify-content: center;
}
