#header {
  width: 100%;
  height: 300px;
}

#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#page {
  height: 2000px;
  background-color: blueviolet;
}

.nav {
  display: flex;
  justify-items: right;
}
